{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }} class="gov-flex gov-flex-wrap gov-justify-evenly">
      {% for item in items %}
        {% set style = item.content['#paragraph'].field_variant[0].value %}
        {% set width_styling = [
          style == 'style1' ? 'gov-w-full gov-pb-4',
          style == 'style2' ? 'gov-w-full lg:gov-w-auto',
          style == 'style3' ? '',
        ] %}
        <div{{ item.attributes.addClass(width_styling) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
